.App {
  text-align: center;
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.container{
  display: flex;
  flex-direction: column;
  
  background-color: rgb(53, 53, 53);
}

.container h2{
  font-size: 30px;
  color: white;
  padding: 20px;
}

.logo{
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursive;
}

.logo h1{
  color: white;
}



.description{
  background-color: antiquewhite;
  text-align: justify;
  padding: 20px;
  font-size: 30px;
}

.list-store{
  
  display: flex;
  flex-direction: column;
  font-size: 30px;
  
}

.header {
  background-color: #282c34;
  padding: 20px;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-style{
  color: white;
  list-style: none;
}

.store-container{
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  flex-wrap: wrap;

}

.store-info{

  border-radius: 25px;
  border: 2px solid #282c34;
  padding: 20px;
  
}

.store-name{
  width: auto;
  background-color: #282c34;
  border-radius: 50px;
}

.item-display{
  display: flex;
  justify-content: space-between;
}

.item{
  height: 300px;
  width: 300px;
  border: 2px solid #282c34;
  border-radius:30px;
  background: rgb(133, 238, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
